
.header {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile {
    color: white;
}

NavLink {
    color: white;
}

.clear {
    background-color: rgba(0, 0, 0, 0);
}

.fa {
    font-size: 20px;
}
